.gradle
/build/

!gradle/wrapper/gradle-wrapper.jar

out
domain/aif/out/

*.class

.scannerwork

### STS ###

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###

.idea
*.iws
*.iml
*.ipr

### NetBeans ###

nbproject/private/

build/*
build/
././build/*

nbbuild/

dist/

nbdist/

.nb-gradle/

*.hprof

